services:
  aves-worker:
    build:
      context: ./AvesPipeline
      dockerfile: AvesPipeline.WorkerService/Dockerfile
    container_name: aves-worker
    depends_on:
      - mongo
      - seaweedfs
    environment:
      Infrastructure__MongoDb__ConnectionString: mongodb://mongo:27017
      Infrastructure__MongoDb__Database: aves
      Infrastructure__S3__BaseUrl: http://seaweedfs:8333
      Infrastructure__S3__Bucket: aves
      Infrastructure__S3__ForcePathStyle: "true"
      Steps__StatisticsStep__MinConfidence: ${Steps__StatisticsStep__MinConfidence}
      Steps__StatisticsStep__SpeciesFilter: ${Steps__StatisticsStep__SpeciesFilter}
    volumes:
      - ./AvesPipeline/AvesPipeline.WorkerService/Data/Stats:/app/Data/Stats
    working_dir: /src/AvesPipeline.WorkerService
    command: >
      ./wait-for-it.sh mongo:27017 --timeout=90 --strict --
      ./wait-for-it.sh seaweedfs:8333 --timeout=90 --strict --
      dotnet AvesPipeline.WorkerService.dll
    restart: "no"

  mongo:
    image: mongo:7
    container_name: aves-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  seaweedfs:
    image: chrislusf/seaweedfs
    container_name: aves-seaweedfs
    command: server -dir=/data -s3 -filer
    ports:
      - "8333:8333"
      - "9333:9333"
      - "8888:8888"
    volumes:
      - seaweed_data:/data

volumes:
  mongo_data:
  seaweed_data:
