services:
  aves-worker:
    build:
      context: .
      dockerfile: AvesPipeline.WorkerService/Dockerfile
    container_name: aves-worker
    depends_on:
      - mongo
      - seaweedfs
    environment:
      # Mongo
      Infrastructure__MongoDb__ConnectionString: mongodb://mongo:27017
      Infrastructure__MongoDb__Database: aves

      # S3 (SeaweedFS)
      Infrastructure__S3__BaseUrl: http://seaweedfs:8333
      Infrastructure__S3__Bucket: aves
      Infrastructure__S3__ForcePathStyle: "true"
    restart: "no"

  mongo:
    image: mongo:7
    container_name: aves-mongo
    ports:
      - "27017:27017"
    # environment:
    #   MONGO_INITDB_ROOT_USERNAME: admin
    #   MONGO_INITDB_ROOT_PASSWORD: admin
    volumes:
      - mongo_data:/data/db

  seaweedfs:
    image: chrislusf/seaweedfs
    container_name: aves-seaweedfs
    command: server -dir=/data -s3 -filer
    ports:
      - "8333:8333"
      - "9333:9333"
      - "8888:8888"
    volumes:
      - seaweed_data:/data

volumes:
  mongo_data:
  seaweed_data:
